title { 
    color: blue;
    font-size: 24px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}

body {
    background-color: aqua;
}

p {
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
    width: 300px;
}

@media screen and (max-width: 1170) and (max-height: 2532) {
}



